<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--CSS-->
    <link rel="stylesheet" href="style.css">

    <!--GOOGLE FONTS : ROBOTO-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    
    
    <div id="root">

        <!--Viewport-->
        <div class="container">
            <!--Sfondo con due colori-->
            <div class="background">
                <div class="first_color"></div>
                <div class="second_color"></div>
            </div>
            
            <!--Chatroom-->
            <div class="chat_room clearfix">
                
                <!--Sezione di sinistra-->
                <div class="left_section">
                    <!--Navbar User-->
                    <nav class="user_info clearfix">
                        <div class="user ">
                            <!--Immagine del profilo utente-->
                            <div class="icon">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <!--Fine Immagine del profilo utente-->
                            <!--Nome utente-->
                            <div class="user_name">
                                Francesca Salvini
                            </div>
                            <!--Fine Nome utente-->
                        </div>
                        <!--Icone-->
                        <div class="font_icons">
                            <div class="icons">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i> 
                        </div>
                            
                        </div>
                        <!--Fine Icone-->
                    </nav>
                    <!--Fine Navbar User-->

                    <!--Ricevi notifiche-->
                    <div class="ricevi_notifiche">
                        <div class="icona_campanella">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="text">
                            Ricevi notifiche di nuovi messaggi
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!--Fine Ricevi notifiche-->

                    <!--Cerca o inizia nuova chat-->
                    <div class="search">
                        <span class="icons"><i class="fas fa-search"></i></span>
                        
                        <input value="" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    
                    <!--Fine Cerca o inizia nuova chat-->

                    <!--Chat con altri contatti-->
                    <div class="chats">
                        <ul v-if="contacts.length > 0" class="chat">
                            <li v-for="(contact, index) in contacts "class="avatar" >
                                <img :src="pics[index]" alt="">
                                {{contact.name}}

                                
                                
                            </li>
                        </ul>
                    </div>

                    <!--Fine Chat con altri contatti-->

                </div>
                <!--Fine Sezione di sinistra-->

                <!--Sezione di destra-->
                <div class="right_section">
                    <!--Info Interlocutore-->
                    <nav class="user_info clearfix">
                        <div class="user ">
                            <!--Immagine del profilo utente-->
                            <div class="icon">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <!--Fine Immagine del profilo utente-->
                            <!--Nome utente-->
                            <div class="user_name">
                                <div class="text">
                                    Samuele
                                </div>
                                <span>Ultimo accesso oggi alle </span>
                            </div>
                            <!--Fine Nome utente-->
                        </div>
                        <!--Icone-->
                        <div class="font_icons">
                            <div class="icons">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i> 
                        </div>
                            
                        </div>
                        <!--Fine Icone-->
                    </nav>
                    <!--Fine Info Interlocutore-->

                    <!--MESSAGGI CHAT-->
                    <div class="chat_msg clearfix">
                        <ul v-if="status == 'received'">
                            <li v-for="message in contacts" :key="message.message">
                                <div class="msg_received">
                                    {{message.messages}}
                                    <p></p>
                                 </div>
                            </li>
                            <li>
                                <div class="msg_send">
                                    <h3>Sicuro di non aver sbagliato chat?</h3> 
                                </div>
                            </li>
                        </ul>
                        
                       
                        
                    </div>
                    <!--FINE MESSAGGI CHAT-->

                    <!--Sezione scrittura messaggio-->
                    <div class="message">
                        <span><i id="smile" class="far fa-smile"></i></span>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <span><i id="microphone" class="fas fa-microphone"></i></span>
                    </div>
                    <!--Fine Sezione scrittura messaggio-->
                </div>
                <!--Fine Sezione di destra-->
            </div>
            <!--Fine Chatroom-->
        </div>

       
    </div>


    <!--JAVASCRIPT-->
    <script src="script.js"></script>
</body>
</html>