/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

img {
    width: auto;
    height: 40px;
}

.icons i {
    padding: 0 6px;
}

/*BACKGROUND*/
.container {
    height: 100vh;
    position: relative;
}

.first_color {
    width: 100%;
    height: 15vh;
    background-color: #079588;

}

.second_color {
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(#dcdbd1, #d2dbdb);
}

/*CHATROOM*/

.chat_room {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    /*TEST*/
    height: 95vh;
    background-color: white;
}

.left_section {
    height: 100%;
    width: 40%;
    float: left;
    background-color: #fafafa;
}

.right_section {
    height: 100%;
    width: 60%;
    float: right;

    background-image: url(img/mine.jpg);
}

/*USER INFO*/

.user_info {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #eaeaea;
}

.user .icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: contain ;
    vertical-align: middle;
    margin: 0 6px;
}

.user {
    float: left;
    display: flex;
    vertical-align: middle;

}

.user_name {
   align-self: center;
   font-size: 13px;
}

.font_icons {
    float: right;
}

.icons {
    margin: 0 6px;
    color: #b1b1b1;
    align-self: center;
}

/*RICEVI NOTIFICHE*/

.ricevi_notifiche {
    height: 70px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #8edafb;
    position: relative;
}

.icona_campanella {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 14%;
    left: 12px;
}

.icona_campanella i {
    color: #8edafb;
    font-size: 20px;
    
}

.text {
    font-size: 13px;
}

.text a {
    display: block;
    color: #6394a9;
    margin: -32px;
}

/*SEARCH*/

.search {
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color: #fafafa;
    position: relative;
}

.search input {
    width: 94%;
    height: 70%;
    padding: 0px 40px;
    border: none;
    margin-left: 10px;
}

.search .icons {
    background-color: white;
    position: absolute;
    left: 10px;
    height: 0px;
}

/*CHAT CON ALTRI CONTATTI*/

.chat {
    height: 70px;
    width: 100%;
    background-color: white;
    margin: 3px 0;
    display: flex;
    align-items: center;
}

.avatar {
    padding: 0 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.chat .nome_contatto {
    align-self: center;
    font-weight: 300;
}

.chat:hover {
    background-color: #e8ebea;
}

/*SEZIONE DI DESTRA*/

.right_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*NAV CHAT*/

.user_name  span {
    color: #b1b1b1;
    font-size: 10px;
    position: absolute;
    top: 14px;
}

.message {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #f3eee9;
    display: flex;
    justify-content: space-around;
}

.message input {
    width: 80%;
    height: 40px;
    align-self: center;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.message span i {
    color: #6b7376;
}

#smile {
    margin-left: 10px;
}

#microphone {
    margin-right: 10px;
}